[Unit]
Description=Backup important system stuff
ConditionACPower=true
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/duplicity-backup-runner

